body {
  font-family: Roboto;
  background-color: #c5a0a0;
}

/* main content section 1*/

.webstudio-button {
  font-size: 26px;
  line-height: auto;
}
.button-1 {
  font-size: 14px;
  line-height: auto;
  color: #2196f3;
}

.main-body {
  font-size: 26;
  display: flex;
  width: 600;
  height: 500;
  background: #ffffff;
  margin: 40 auto;
}

.main-contanier {
  width: 1600;
  height: 600;
  top: 80;
  background: #2f303a;
}

/* main content section 2*/

/* main content section 3*/
.info {
  width: 1600;
  height: 252;
  background: #2f303a;
}
